<div *ngIf="machine" class="card">
    <div class="card-body">
        <h5 class="card-title">{{machine.name}}
            <ng-template [ngIfElse]="notHealthy" [ngIf]="isMachineHealthy()"><i class="material-icons green" title="Machine Is Healthy">check_circle_outline</i>
            </ng-template>
        </h5>
        <p *ngIf="getLastLog()">Last Log: {{getLastLog().line}}</p>
        <a class="btn btn-primary" routerLink="/logs/{{machine.name}}">Check Logs</a>
    </div>
</div>

<ng-template #notHealthy><i class="material-icons red" title="Machine Is not Healthy!">highlight_off</i></ng-template>
