<ng-template [ngIfElse]="noDataFound" [ngIf]="machineList.length >= 1">
    <app-machine-dashboard-entry *ngFor="let machine of machineList" [machine]="machine"></app-machine-dashboard-entry>
</ng-template>

<ng-template #noDataFound>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        Oops!</h1>
                    <h2>
                        No Data Found</h2>
                    <div class="error-details">
                        Try to reset the state of the machines
                    </div>
                    <div class="error-actions">
                        <a (click)="resetStateAllMachines()" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-home">Reset state machines</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
